body {
    background-color: white;
}

input {
    border-radius: 10px;
    border: 1 thin black;
    padding: 10px;
    margin: 5px;
}

.button-red {
    border: none;
    border-radius: 10px;

    background-color: rgb(232, 30, 30);
    padding: 10px;
    color: white;
}

.button-blue {
    border: none;
    border-radius: 10px;

    background-color: rgb(21, 21, 208);
    padding: 10px;
    color: white;
}

.button-green {
    border: none;
    border-radius: 10px;

    background-color: rgb(18, 145, 18);
    padding: 10px;
    color: white;
}
